.variants {
  &__h3 {
    font-size: 18px;
    font-weight: 400;
    color: green;
    margin: 0 0 10px 0;

    &--empty {
      color: red;
    }
  }

  &__block {
    display: flex;
    gap: 8px;
    margin: 0 0 60px 0;
  }

  &__item {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid teal;
    background: linear-gradient(to right, #ffffff, #f1f1f1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
  
    &--empty {
      background-color: #ccc;
    }
  
    &--active {
      outline: 3px solid teal;
      color: teal;
  
      &.variants__item--empty {
        background-color: #ccc;
      }
    }
  
    &:hover {
      transform: scale3d(1.05, 1.05, 1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
  

  &__h5 {
    margin: 0 0 10px 0;
    font-size: 22px;
    font-weight: 600;
  }
}