.mydropdown {
  position: relative;
  border-radius: 8px;
  padding: 0;
  margin: 0 0 10px 0;

  &__button {
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  &__button:hover {
    background-color: #007a99;
  }
  
  &__content {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-color: white;
    border: 1px solid teal;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;

    &--open {
      max-height: 200px;
      visibility: visible;
    }
  }
  

}

