.myselect {
  position: relative;
  display: inline-block;
  z-index: 2;

  &__button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: teal;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 8px;
    transition: color 0.3s ease;
    padding: 5px 10px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      padding: 5px;
    }

    @media screen and (max-width: 425px) {
      font-size: 14px;
      padding: 2px;
      font-weight: 400;
    }

    &:hover {
      background: lighten(lightblue, 20%);
      color: teal;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    &--active {
      background: lighten(lightblue, 20%);
      color: teal;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__options {
    display: 'block';
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid teal;
    border-radius: 8px;
    padding: 5px 0;
    max-height: 250px;
    overflow-y: auto;
    margin: 4px 0 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &--hidden {
      display: none;
    }
  }

  &__option {
    cursor: pointer;
    padding: 5px;

    &:hover {
      background-color: teal;
      color: white;
    }
  }
}