.links {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;

  &__h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}