.subsubcategory {

  &__subcategory {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 40px 0;
    display: inline-block;
    color: teal;

    &:hover {
      color: #ff5733;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    color: teal;
    text-transform: uppercase;
    
    &:hover {
      color: #ff5733;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}