.pagination {
  &__list {
    display: flex;
    gap: 5px;
  }

  &__page {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: '#fff';
    color: #333;
    font-weight: bold;
    transition: all 0.2s;
    border-radius: 4px;
    user-select: none;
    border: 1px solid transparent;

    &--current {
      background-color: #007bff;
      color: #fff;
      border: 1px solid black;
    }
  }
}