.mobilelink {
  &__link {
    color: teal;
  }

  &__block {
    display: flex;
    width: 95%;
    justify-content: space-between;
    border: 1px solid teal;
    padding: 5px;
    border-radius: 8px;
  }

  &__button {
    width: 20px;
    color: teal;
    font-weight: 900;
  }
}