.counter {
  display: flex;
  align-self: flex-start;
  width: calc(100% / 3);

  &__button {
    width: 45px;
    height: 45px;
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    width: 45px;
    height: 45px;
    outline: none;
    text-align: center;
  }

  &__delete {
    width: 45px;
    height: 45px;
    background: transparent;
    color: #111;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}